.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
}

.button {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.content {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.dark {
    background-color: #105057;
}

.light {
    background-color: #008593;
}

.flex {
    display: flex;
}

.none {
    display: none;
}